<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Alex_HidePrice" title="HidePrice" module="Alex_HidePrice" sortOrder="80" dependsOnModule="Alex_HidePrice" resource="Alex_HidePrice::contacts"/>
        <add id="Alex_HidePrice::index_index" title="HidePrice" module="Alex_HidePrice" parent="Alex_HidePrice" sortOrder="20" dependsOnModule="Alex_HidePrice" resource="Alex_HidePrice::index_index" action="hideprice/index/index"/>
    </menu>
</config>