<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vendor" translate="label" sortOrder="50">
            <label><![CDATA[Alex]]></label>
        </tab>
        <section id="Alex" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Adding custom entries</label>
            <tab>vendor</tab>
            <resource>Alex_HidePrice::config_extension</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Configuration</label>
                <field id="alex_status" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Statut du module</label>
                    <source_model>Alex\HidePrice\Model\Config\Status</source_model>
                    <backend_model>Alex\HidePrice\Model\Config\Backend\Custom</backend_model>
                </field>
                <field id="alex_groups" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Groupes concernés</label>
                    <source_model>Alex\HidePrice\Model\Config\Groups</source_model>
                    <backend_model>Alex\HidePrice\Model\Config\Backend\Custom</backend_model>
                </field>
                <field id="alex_text" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Texte de remplacement</label>
                    <backend_model>Alex\HidePrice\Model\Config\Backend\Custom</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>